<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/util  
        http://www.springframework.org/schema/util/spring-util-3.2.xsd  
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-3.2.xsd  
        http://www.springframework.org/schema/mvc  
       	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<context:component-scan base-package="limeng32.testSpring.*">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
	</context:component-scan>

	<context:annotation-config />
	<mvc:annotation-driven conversion-service="formattingConversionService">
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.FormHttpMessageConverter">
			</bean>
			<bean
				class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
				<property name="marshaller" ref="xmlMarshaller" />
				<property name="unmarshaller" ref="xmlMarshaller" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean id="xmlMarshaller" class="org.springframework.oxm.xstream.XStreamMarshaller">
		<property name="autodetectAnnotations" value="true"></property>
		<property name="aliases">
			<map>
				<entry key="article" value="limeng32.testSpring.pojo.Article" />
				<entry key="user" value="limeng32.testSpring.pojo.User" />
			</map>
		</property>
		<property name="streamDriver">
			<bean class="com.thoughtworks.xstream.io.xml.StaxDriver">
				<property name="repairingNamespace" value="false"></property>
			</bean>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>limeng32.testSpring.pojo.Article</value>
				<value>limeng32.testSpring.pojo.User</value>
			</list>
		</property>
	</bean>

	<bean id="formattingConversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="limeng32.testSpring.converter.StringToUserConverter">
				</bean>
			</list>
		</property>
	</bean>

	<mvc:default-servlet-handler />
	<bean id="rpe" class="limeng32.testSpring.web.ResourcePathExposer"
		init-method="init" />
	<mvc:resources mapping="#{rpe.resourceRoot}/**" location="/"
		cache-period="3153600" />

	<bean
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/ftl" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="freemarkerSettings">
			<props>
				<prop key="classic_compatible">true</prop>
			</props>
		</property>
	</bean>

	<bean
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="order" value="5" />
		<property name="suffix" value=".ftl" />
		<property name="contentType" value="text/html; charset=utf-8" />
	</bean>

	<bean class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="order" value="10"></property>
		<property name="location" value="WEB-INF/spring-views.xml"></property>
	</bean>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/" p:suffix=".jsp">
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="maxUploadSize" value="52428800" />
		<property name="uploadTempDir" value="upload/temp" />
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>conf/i18n/content</value>
				<value>conf/i18n/messages</value>
			</list>
		</property>
		<property name="defaultEncoding" value="utf-8"></property>
	</bean>

	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="order" value="0" />
		<property name="defaultContentType" value="text/html" />
		<property name="ignoreAcceptHeader" value="true" />
		<property name="favorPathExtension" value="false" />
		<property name="favorParameter" value="true" />
		<property name="parameterName" value="_content" />
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html" />
				<entry key="xml" value="application/xml" />
				<entry key="json" value="application/json" />
			</map>
		</property>
		<property name="defaultViews">
			<list>
				<bean
					class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
					<property name="modelKeys" value="_content"></property>
				</bean>
				<bean class="org.springframework.web.servlet.view.xml.MarshallingView">
					<property name="marshaller" ref="xmlMarshaller"></property>
					<property name="modelKey" value="_content"></property>
				</bean>
			</list>
		</property>
	</bean>

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="cookieName" value="clientLanguage" />
		<property name="cookieMaxAge" value="100000" />
		<property name="cookiePath" value="/" />
		<property name="defaultLocale" value="en_US" />
	</bean>

	<mvc:interceptors>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
	</mvc:interceptors>

	<bean id="handlerExceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.RuntimeException">
					forward:/fail.html
				</prop>
			</props>
		</property>
	</bean>
</beans>